@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"); 

.simufast-player {
    display: flex;
    flex-direction: column;
    background: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.simufast-player .control-bar {
    display: flex;
    flex-direction: row;
    background: lightskyblue;
    padding: 10px;
}

/* align center horizontally */

.simufast-player canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.simufast-player .last-log {
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    background: lightskyblue;
    width: 100%;
    text-align: center;
}

.simufast-player .speed {
    width: 45%;
}

.simufast-player .actions {
    width: 10%;
}

.simufast-player .progress {
    width: 45%;
    text-align: right;
}

.simufast-player .additional-info:not(:empty) {
    padding: 10px;
    background: aliceblue;
}

.simufast-player .closed {
    display: none;
}

.simufast-player .open {
    display: inherit;
}

.simufast-player table, .simufast-player th, .simufast-player td {
    border: 1px solid black;
    border-collapse: collapse;
}

.simufast-player table {
    width: 100%;
}

.simufast-player table, .simufast-player td, .simufast-player th {
    text-align: center;
}

.simufast-player th {
    font-weight: bold;
}

.simufast-player .stats:not(:empty) {
    margin-top: 10px;
}

.simufast-player .stats-link {
    text-decoration: none;
}

.simufast-player .stats-link.expanded:before {
    font-family: 'FontAwesome';
    content: "\f078";
    margin-right: 5px;
}

.simufast-player .stats-link.collapsed:before {
    font-family: 'FontAwesome';
    content: "\f054";
    margin-right: 5px;
}

.attribution {
    float: right;
}

.attribution i {
    color: goldenrod;
}